[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
scrapy = "*"
pymysql = "*"
fabric3 = "*"
requests = "*"
redis = "*"
pyyaml = "*"
pymongo = "*"

[requires]
python_version = "3.7.4"
